* {
    box-sizing: border-box;
}

table,
th,
td {
    padding: 10px;
    border: 2px solid black;
    border-collapse: collapse;
}

th,
td {
    padding: 15px;
    font-size: 14px;
}

th {
    background-color: yellow;
    color: black;
    text-shadow: 1px 1px 2px gray;
}

td {
    background-color: yellow;
    color: black;
    text-align: center;
    padding: 20px;
}

p {
    font-size: 16px;
    text-indent: 60px;
    font-family: Courier New;
    text-align: justify;
    padding: 20px;
    color: black;
    letter-spacing: 0.5px;
    line-height: 1.5;
}

.photo {
    width: 220px;
}

h1 {
    font-family: 'Share', papyrus;
    font-size: 35px;
    text-shadow: 5px 5px 0px white, 8px 8px 0px lightsalmon;
    color: black;
    text-align: center;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: pink;
    padding: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

h2 {
    font-family: Garamond;
    font-size: 26px;
    text-shadow: 1px 2px 5px white;
    color: white;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: lawngreen;
}

body {
    background-color: gray;
    margin: 0;
}

footer {
    text-align: center;
}

nav {
    display: block;
    background-color: pink;
    overflow: hidden;
    text-shadow: 1px 1px 1px gray;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 5px;
}

nav a {
    float: left;
    color: teal;
    padding: 15px 20px;
    text-decoration: none;
    border-radius: 2px;
}

nav a:hover {
    background-color: gray;
    border: 0.5px solid gray;
    color: lightsalmon;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    float: left;
}

button {
    /* background-color: teal;
    padding: 10px;
    border-radius: 10px;
    transition-duration: 0.4s;
    display: inline-block; */
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 1px;
    transition-duration: 0.4s;
    cursor: pointer;
}

button {
    /* background-color: white;
    border: 2px solid black;
    text-decoration: none; */
    background-color: white;
    color: black;
    border: 2px solid grey;
}

button:hover {
    /* background-color: black;
    color: white; */
    background-color: gray;
    color: white;
}

button a {
    color: black;
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: auto;
    background-color: yellow;
    overflow: auto;
}
